*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #FEFAFB;
  background-image: url("picture/backgroundpattern.png");
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
}

header{
  min-height: 100vh;
position: relative;
  overflow: hidden;
}

.fv::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("picture/FV7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
}

.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  
} 

.title{
  text-align: left;
}

header p{
    font-family: "quinella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: transparent;           
    -webkit-text-stroke: 1px #0E314B;
}

header h1{
  font-family: "dela-gothic-one", sans-serif;
    font-weight: 400;
    font-style: normal;
   font-size: 64px;
    color: transparent;            
    -webkit-text-stroke: 1px #0E314B;
    text-shadow:4px 4px 0 #FFD7E7; 
}

.scroll_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 300px;
    bottom: 50px;
}

.scroll_button p{
    font-family:"dela-gothic-one", sans-serif ;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    color:#0E314B;
}

.button_icon{
  position:relative;
  display:inline-block;
  width:120px;
  height:120px;
}

.circle{
  position:absolute;
  width:100px;
  height:100px;
  background:#9BD5FF;
  border-radius:50%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.triangle{
 position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-30%);

  width:60px;
  height:40px;
  background:#FFD7E7;
  clip-path:polygon(50% 100%, 0 0, 100% 0);

  border-radius:6px;
  filter:drop-shadow(0 0 0 white);
}

nav{
    background-color: rgb(155, 213, 255, 0.42);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 50px;
    width:100%;
}

nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 50px;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #FEFAFB;
    font-family: "quinella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;         
    -webkit-text-stroke: 1px #0E314B;
}
.message{
  margin-top: 240px;
  position: relative;
  min-height: 1784px;
}
.section_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_title_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: -80px;
}

.section_title_text p{
    font-family: "quinella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: transparent;           
    -webkit-text-stroke: 1px #0E314B;
}

.section_title_text h2{
  font-family: "sicgothicduex", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;          
  color:#0E314B;
}
.imgcloud1{
  position: absolute;
  top:200px;
  right:0px;
}

.imgcloud2{
  position: absolute;
  top:720px;
  left:0px;
}
.cloudtxt{
  max-width:1000px;
  margin:0 auto;
  position:relative;

}
.cloudtxt1{
  width:523.33px ;
  height:254.18px;
  position: absolute;
  top:250px;
  left:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "sicgothicduex", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;          
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;
  background-image: url("picture/message_cloudtxt1.png");
}

.cloudtxt2{
  width:523.33px ;
  height:254.18px;
  position: absolute;
  top:500px;
  right:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "sicgothicduex", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;          
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;
  background-image: url("picture/message_cloudtxt2.png");
}

.message_content2{
  max-width:1000px;
  margin:0 auto;
  position:relative;
}

.talk_txt{
  padding-top:40px;
  padding-left: 40px;
  position:absolute;
  top:1100px;
  left:0px;
  font-family: "sicgothicduex", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;          
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;
  width:639.85px;
  height:282.82px;
  background-image:url("picture/message_talk.png");
  background-size:contain;
  background-repeat:no-repeat;
}

.message_content2 img{
  position:absolute;
  top:1100px;
  right:0px;

}
.about{
  margin-top: 240px;
}
.about_content_subtitle1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 60px;
}
.about_content_subtitle1 h1{
  margin-top: 64px;
  width: 608.49px;
  height:385.87px;
  background-image: url(picture/about_cloudtitle.png);
  background-size:contain;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"dela-gothic-one", sans-serif ;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  color:#0E314B;
}

.about_content1{
  max-width:1000px;
  margin:120px auto;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.about_txtbox{
  width: 480px;
  height: 330px;
  border:1px solid #0E314B; 
  background-color: transparent;
  position: relative; 
  padding:30px;
 

}

.about_txtbox::before{
  content:"";
  position:absolute;
  inset:0;
  background-color:rgb(155, 213, 255, 0.42);
  transform:translate(15px,15px);
  z-index:-1;
}
.about_txt1{
  margin-top:  100px;
  position:relative;
}

.about_txt1 img{
  position:absolute;
  top:-200px;
  right:-100px;
  z-index: -10000;
}
.about_txtall h2{
  font-family: "dela-gothic-one", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: transparent;            
    -webkit-text-stroke: 1px #0E314B;
  text-shadow:4px 4px 0 #FFD7E7 ;
}
.about_txtbox h3{
  font-family:"dela-gothic-one", sans-serif ;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.1em;
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;
}

.about_txtbox p{
  margin-top: 32px;
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  color:#0E314B;
  text-shadow:2px 2px 0#FEFAFB ;

}

.about_content_subtitle2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_content_subtitle2 h1{
  margin-top: 64px;
  width: 583.9px;
  height:378.34px;
  background-image: url(picture/about_cloudtitle_mirror.png);
  background-size:contain;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"dela-gothic-one", sans-serif ;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  color:#0E314B;
}

.about_content2{
  max-width:1000px;
  margin:120px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items:flex-start;
}


.about_txt2{
  margin-top:  100px;
  position:relative;
}

.about_txt2 img{
  position:absolute;
  top: -100px;
  left:80px;
  z-index: -10000;
}
.goodness{
  margin-top:180px;
  height: 1300px;
}
.goodness_content{
  position:relative;
}

.bgimg1{
  position:absolute;
  top:-200px;
  right:0px;
}

.bgimg2{
  position:absolute;
  top:500px;
  left:0px;

}

.goodness_text{
  max-width:1000px;
  margin:200px auto;
  position:relative;
 /* display: flex;
  justify-content: flex-start;
  align-items: flex-start;*/
}

.goodness_textbox1{
  position:relative;
  width: 442.96px;
  height: 275.62px;
  background-image: url(picture/goodness_rectangle1.png);
}

.goodness_textbox1 h2{
  position:absolute;
  top:-10px;
  left:30px;
}

.goodness_textbox1 p{
  position:absolute;
  top:150px;
  left:30px;
}

.goodness_textbox1 h3{
  position:absolute;
  top:180px;
  left:30px;
}



.goodness_textbox2{
  position: absolute;
  top:200px;
  left:20%;
  width: 538px;
  height: 276px;
  background-image: url(picture/goodness_rectangle2.png);
}

.goodness_textbox2 h2{
  position:absolute;
  top:-10px;
  left:180px;
}

.goodness_textbox2 p{
  position:absolute;
  top:150px;
  left:120px;
}

.goodness_textbox2 h3{
  position:absolute;
  top:180px;
  left:120px;
}

.goodness_textbox3{
  position: absolute;
  top:400px;
  left:50%;
  width: 442px;
  height: 272px;
  background-image: url(picture/goodness_rectangle3.png);
}

.goodness_textbox3 h2{
  position:absolute;
  top:-10px;
  left:180px;
}

.goodness_textbox3 p{
  position:absolute;
  top:150px;
  left:100px;
}

.goodness_textbox3 h3{
  position:absolute;
  top:180px;
  left:100px;
}

.textboxn{
  font-family: "bitcount-prop-double-circle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 128px;
  color: #FEFAFB;
}

.textboxp{
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  color:#0E314B;
  text-shadow:2px 2px 0#FEFAFB

}

.textboxh{
  font-family:"dela-gothic-one", sans-serif ;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;
}

.interview{
  margin-top: 180px;
}
.interview_slider{
  display: flex;
  justify-content: center;
  align-items: center;
}
.interview_box{
  width:1000px;
  height: 500px;
  margin:64px 110px;
  position:relative;
  border:1px solid #0E314B; 
  background-color: transparent;
}

.interview_box::before{
  content:"";
  position:absolute;
  inset:0;
  background-color:rgb(155, 213, 255, 0.42);
  transform:translate(15px,15px);
  z-index:-1;
}

.pins{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interview_main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 30px;
  column-gap: 40px;
}
.personal{
  width: 420px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap:20px;
  align-items: center;

}

.personal_info{
  padding: 20px 60px;
}
.personal_info h3{
  font-family: "dela-gothic-one", sans-serif;
  font-size: 24px;
  color:#0E314B;
}

.personal_info p{
  margin-top: 8px;
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.1em;
  color:#0E314B;
}

.personal_info{
  width:364px;
  height:158px;
  background-image: url(picture/interview_rabel.png);
}

.interview_text{
  padding:30px 0px;
  position:relative;
}

.interview_text h3{
  font-family: "dela-gothic-one", sans-serif;
  font-size: 24px;
  color:#0E314B;
  letter-spacing: 0.1em;
  text-shadow:2px 2px 0#FEFAFB ;
  position: absolute;
  top:0px;

}

.interview_text p{
  margin-top: 24px;
  margin-left: 30px;
  margin-right:30px;
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color:#0E314B;
}

.interview_text img{
  position:absolute;
  top:320px;
  right:30px;
}
.dotted_line{
  height:10px;
  width:550px;
  border-bottom:10px dotted #F28BB3;
  position:absolute;
  top:400px;

}

.gallary_box{
  width:1000px;
  height:1000px;
  margin:64px 110px;
  display: flex;
  position:relative;

}

.gallary_box h2{
  width:319px ;
  height:63px;
  position:absolute;
  top:0px;
  left:0px;
  z-index: 1;
  background-image: url(picture/gallary_toptext.png);
  font-family:"dela-gothic-one", sans-serif ;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.1em;
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;

}
.youtube{
  width: 700px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:30px;
  left:15%;
  border:1px solid #0E314B; 
  background-color: transparent;
}

.youtube::before{
  content:"";
  position:absolute;
  inset:0;
  background-color:rgb(155, 213, 255, 0.42);
  transform:translate(15px,15px);
  z-index:-1;
}

.gallary_box h3{
  width: 419px;
  height: 137px;
  position:absolute;
  top:450px;
  right:0px;
  background-image: url(picture/gallary_downtext.png);
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.1em;
  color:#0E314B;
  text-shadow:2px 2px 0#FEFAFB
  
}


.qa_content{
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 128px;
}
.qabox{
  width: 890px;
  height: 211px;
  border:1px solid #0E314B; 
  background-color: transparent;
  position: relative; 
  padding:0 10px;
}

.qabox::before{
  content:"";
  position:absolute;
  inset:0;
  background-color:rgb(155, 213, 255, 0.42);
  transform:translate(15px,15px);
  z-index:-1;
}
.qabox h1{
  font-family: "quinella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    color: #FEFAFB;           
    -webkit-text-stroke: 1px #0E314B;

}
.Q{
  position:absolute;
  top:-70px;
  left:-50px;
}

.questiontext{
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  color:#0E314B;
  position:absolute;
  top:30px;
  left:60px;
  border-bottom:2px dashed rgb(14, 49, 75,0.5);
  padding-bottom:10px;
}

.answertext{
  max-width: 700px;
  font-family:"sicgothicduex", sans-serif ;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.1em;
  color:#0E314B;
  position:absolute;
  top:90px;
  left:15%;
}
.A{
  position:absolute;
  bottom: -70px;
  right:-50px;
}

.send_button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 420px;
  height: 90px;

  border: 3px solid #0E314B;
  text-decoration: none;

  font-family: "dela-gothic-one", sans-serif;
  font-size: 32px;
  color:#0E314B;
}

.send_button::before{
  content:"";
  position:absolute;
  inset:0;

  background:#FFD7E7;
  transform:translate(10px,10px);

  z-index:-1;
}
.lastmessage{
  margin-top:240px;
}
.lastmessage_content{
  max-width:1000px;
  margin:128px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.lastmessage_content .talk_txt2{
  padding-top:40px;
  padding-left: 40px;
  font-family: "sicgothicduex", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;          
  color:#0E314B;
  text-shadow:4px 4px 0#FEFAFB ;
  width:639.85px;
  height:282.82px;
  background-image:url("picture/message_talk.png");
  background-size:contain;
  background-repeat:no-repeat;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  row-gap:64px;

}
.contact_content{
  width: 1000px;
  height:664px;
  padding:120px 200px;
  background-image: url(picture/whiteboard.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content:center;
  align-items: center;
}

.contact_content p{
  font-family: "sicgothicduex", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;          
  color:#0E314B;
}

.contact_content .icons{
  display: flex;
  justify-content:center;
  align-items: center;
  column-gap: 60px;
}

.contact_txt1{
  text-align: left;
  align-self: flex-start;
}

.contact_txt2{
  text-align: right;
  align-self: flex-end;
}
